@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑"; }

body {
  cursor: pointer;
  position: relative;
  overflow-x: hidden; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.box {
  width: 100%;
  height: 70px;
  background: #3690de;
  position: relative; }

.one {
  margin-left: 230px;
  padding-top: 10px; }

.one1 {
  width: 410px;
  height: 30px;
  float: left;
  position: absolute;
  left: 410px;
  top: 40px; }

.one1 .one2 {
  width: 90px;
  height: 30px;
  float: left;
  margin-right: 10px;
  background: #59a2e2;
  color: white;
  text-align: center;
  line-height: 30px;
  font-size: 15px; }

.one1 .one2 a {
  color: #fff; }

.one1 .one2:hover {
  background: #347ebf; }

.one3 {
  position: absolute;
  left: 620px;
  top: 10px;
  color: white;
  border-color: #a9a9a9;
  background: #4991cf; }

.box p {
  width: 270px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  left: 680px;
  top: 10px;
  font-size: 12px;
  color: white; }

.box .one4 {
  width: 250px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  left: 950px;
  top: 10px;
  z-index: 1; }

.one4 a {
  font-size: 12px;
  color: white; }

.one5 {
  position: absolute;
  left: 1000px;
  top: 0; }

.two {
  width: 130px;
  height: 506px;
  margin-left: 235px;
  margin-top: 10px;
  border-right: 2px solid #bdd7f2;
  border-left: 2px solid #bdd7f2; }

.two1 {
  width: 130px;
  height: 5px;
  background: #0080c4; }

.two2 {
  width: 130px;
  height: 40px;
  background: #ebf7ff;
  text-align: center;
  line-height: 40px;
  border-bottom: 2px solid #bdd7f2;
  font-size: 12px; }

.two3 li {
  width: 130px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  color: #185697;
  border-bottom: 1px dashed #bdd7f2;
  font-size: 12px; }

.two3 li a {
  color: black; }

.three {
  width: 830px;
  height: 30px;
  line-height: 30px;
  color: #185697;
  border-bottom: 1px dashed #dddddd;
  position: absolute;
  left: 380px;
  top: 80px;
  font-size: 12px; }

.four {
  width: 830px;
  height: 1000px;
  border: 1px solid #b5daf7;
  position: absolute;
  left: 380px;
  top: 125px; }
  .four .four_1 {
    width: 830px;
    height: 40px;
    background: #edf7ff;
    border-top: 2px solid #419de4; }
    .four .four_1 a {
      padding-left: 20px;
      line-height: 40px;
      text-align: center; }
      .four .four_1 a strong {
        font-size: 10px; }
    .four .four_1 :hover {
      color: red; }
  .four .four_2 {
    width: 798px;
    height: 98px;
    margin: 10px auto; }
    .four .four_2 ul {
      width: 798px;
      height: 98px; }
      .four .four_2 ul li {
        border-bottom: 1px solid black; }
        .four .four_2 ul li .first:hover {
          color: #fff; }
        .four .four_2 ul li .first {
          width: 35px;
          height: 22px;
          color: #fff;
          font-size: 14px;
          background: #409de4; }
        .four .four_2 ul li :hover {
          color: red; }
        .four .four_2 ul li a {
          height: 16px;
          color: #92d4ff;
          font-size: 12px;
          margin: 5px;
          cursor: pointer;
          padding-right: 10px;
          border-right: 1px solid #b5daf7; }
      .four .four_2 ul :nth-child(1) {
        height: 63px; }
      .four .four_2 ul :nth-child(2) {
        line-height: 35px;
        height: 35px; }
  .four .five {
    width: 820px;
    margin: 0 auto; }
    .four .five table {
      border: 1px solid #eef7fc; }
      .four .five table tr {
        font-size: 14px; }
        .four .five table tr td {
          color: #333333; }
        .four .five table tr .th2 strong {
          float: left; }
      .four .five table .tr1 {
        background: #eef7fc; }
        .four .five table .tr1 th {
          color: #185697; }
      .four .five table tr:hover {
        background: #eef7fc; }
  .four .six {
    width: 800px;
    height: 43px;
    margin: 10px auto;
    text-align: center; }
    .four .six div {
      display: inline;
      margin-right: 5px;
      vertical-align: middle; }
    .four .six a {
      padding: 2px 6px;
      border: 1px #4890cf solid;
      background: #fff;
      color: #000;
      vertical-align: middle; }
    .four .six .input1 input {
      width: 40px;
      vertical-align: middle; }

.footer {
  width: 980px;
  height: 45px;
  border-top: 1px solid #eee;
  margin: auto 235px;
  position: absolute;
  top: 1150px; }
  .footer p {
    height: 45px;
    line-height: 45px;
    text-align: center; }

@media screen and (max-width: 960px) {
  body {
    background: #eee; }
  .box {
    width: 960px; }
    .box .one3 {
      display: none; }
    .box p {
      display: none; }
    .box .one4 {
      display: none; }
    .box .one5 {
      display: none; }
  .three {
    display: none; }
  .four {
    border: none; }
    .four .four_1 {
      width: 400px;
      display: none; }
      .four .four_1 a {
        display: none; }
    .four .four_2 {
      width: 400px;
      display: none; }
      .four .four_2 a {
        display: none; }
    .four .five table {
      width: 400px; }
    .four .five .six {
      float: left;
      width: 400px; }
  .footer {
    width: 400px; } }

@media screen and (max-width: 640px) {
  body {
    background: pink; }
  .two {
    display: none; }
  .box {
    width: 640px; }
    .box .one1 {
      display: none; }
    .box .one3 {
      display: none; }
    .box p {
      display: none; }
    .box .one4 {
      display: none; }
    .box .one5 {
      display: none; }
  .three {
    display: none; }
  .four {
    border: none; }
    .four .four_1 {
      width: 300px;
      display: none; }
      .four .four_1 a {
        display: none; }
    .four .four_2 {
      width: 300px;
      display: none; }
      .four .four_2 a {
        display: none; }
    .four .five {
      position: relative; }
      .four .five table {
        width: 300px;
        position: absolute;
        left: -250px; }
      .four .five .six {
        position: absolute;
        left: -250px;
        top: 850px;
        width: 300px; }
  .footer {
    display: none; } }
