@media screen and (max-width: 960px) {
  header .message {
    position: relative; } }

@media screen and (max-width: 640px) {
  section .body_left {
    display: none; }
  section .body_right {
    margin-left: 0 !important; } }

body, div, p, ul, ol, li, dl, dt, dd, table, tr, td, form, hr, fieldset, h1, h2, h3, h4, h5, h6, img, input {
  margin: 0;
  padding: 0; }

body {
  font-family: "Microsoft Yahei", Verdana, Arial, Helvetica, sans-serif; }

html, body {
  height: 100%; }

a {
  text-decoration: none;
  color: #737373; }

ul, ol {
  list-style: none; }

img {
  border: 0;
  display: block; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

header {
  width: 100%;
  height: auto;
  background: url(../img/banner.jpg) repeat-x; }
  header .bg {
    width: 100%;
    height: auto;
    background: url(../img/topbgright.jpg) no-repeat right center; }
  header .head {
    position: relative;
    width: 980px;
    margin: 0 auto;
    overflow: hidden; }
    header .head .logo {
      float: left;
      padding: 11px 0;
      width: 165px;
      height: 48px;
      background: url(../img/logo.gif) no-repeat left center; }
    header .head .message {
      position: relative;
      font-size: 12px;
      letter-spacing: 3px;
      text-align: right;
      height: 24px;
      color: #fff;
      padding: 5px 4px 5px 0; }
      header .head .message select {
        height: 20px;
        line-height: 18px;
        border: 1px solid #a9a9a9;
        font-size: 12px;
        color: #fff;
        text-align: center;
        background: #368fdf; }
      header .head .message a {
        line-height: 24px;
        display: inline-block;
        text-decoration: underline;
        color: #fff; }
    header .head .option {
      overflow: hidden;
      height: 29px;
      line-height: 29px;
      font-size: 14px;
      margin-top: 5px;
      width: 800px;
      position: absolute;
      bottom: 0;
      left: 177px; }
      header .head .option a {
        display: block;
        float: left;
        width: 90px;
        height: 28px;
        background: linear-gradient(to bottom, #5ea7e8, #4890ce);
        border: 1px solid #6fb0e9;
        border-bottom: none;
        color: #fff;
        font-size: 12px;
        line-height: 28px;
        margin-left: 8px;
        text-align: center; }

section {
  width: 100%;
  height: auto; }
  section::before {
    content: "";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  section .body {
    width: 980px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    display: -webkit-flex; }
    section .body .body_left {
      margin-left: 10px;
      width: 128px;
      border: 1px solid #bdd7f2;
      border-top: 4px solid #0080c4;
      border-bottom: 4px solid #0080c4;
      font-size: 12px;
      text-align: center; }
      section .body .body_left .title a {
        display: block;
        width: 128px;
        line-height: 38px;
        border-bottom: 1px solid #98c9ee;
        background: #ebf7ff;
        color: #333;
        font-weight: 600; }
      section .body .body_left .body_list ul li a {
        display: block;
        width: 128px;
        line-height: 28px;
        border-bottom: 1px dashed #98c9ee;
        background: #fff;
        color: #185697; }
    section .body .body_right {
      padding-left: 15px; }
      section .body .body_right .body_r_hd {
        display: block;
        padding: 8px 0;
        font-size: 12px;
        color: #185697;
        border-bottom: 1px dashed #dddddd; }
        section .body .body_right .body_r_hd a {
          color: #185697; }
      section .body .body_right .bosy_r_option {
        margin-top: 30px;
        margin-bottom: 15px; }
        section .body .body_right .bosy_r_option a {
          display: inline-block;
          padding: 0 15px;
          line-height: 32px;
          background: #f4fbff;
          color: #0561a2;
          font-size: 14px;
          border: 1px solid #bed9f0;
          border-bottom: none;
          margin-left: 8px;
          text-align: center; }
        section .body .body_right .bosy_r_option :nth-child(1) {
          margin-left: none; }
        section .body .body_right .bosy_r_option .active {
          color: #fff;
          background: #fff;
          border-color: #1573b4; }
      section .body .body_right .body_r_bd .personal_data {
        width: 100%; }
        section .body .body_right .body_r_bd .personal_data table {
          border-right: 1px solid #cfe1f9;
          border-bottom: 4px solid #cfe1f9;
          border-collapse: collapse; }
          section .body .body_right .body_r_bd .personal_data table tr td {
            border-top: 1px solid #cfe1f9;
            border-left: 1px solid #cfe1f9;
            font-size: 12px;
            color: #333333;
            height: 22px;
            padding: 6px 5px;
            border-spacing: 0;
            border-collapse: separate; }
          section .body .body_right .body_r_bd .personal_data table tr .td_one {
            width: 90px;
            text-align: -webkit-right; }
          section .body .body_right .body_r_bd .personal_data table tr .td_three {
            width: 90px;
            text-align: -webkit-right; }
          section .body .body_right .body_r_bd .personal_data table tr .td_two {
            width: 141px; }
          section .body .body_right .body_r_bd .personal_data table tr .td_four {
            width: 233px; }
          section .body .body_right .body_r_bd .personal_data table tr .td_five {
            width: 225px; }
            section .body .body_right .body_r_bd .personal_data table tr .td_five .photo a {
              display: block;
              width: 110px;
              margin: 0 auto; }
          section .body .body_right .body_r_bd .personal_data table tr .td_six {
            height: 40px;
            text-align: center; }
            section .body .body_right .body_r_bd .personal_data table tr .td_six input {
              display: inline-block;
              height: 26px;
              padding: 0 10px;
              border: 1px solid #949494;
              font-size: 12px;
              background: #fff;
              background: linear-gradient(to bottom, #f2f2f2, #cfcfcf);
              color: #333; }
      section .body .body_right .body_r_bd .personal_class {
        display: none; }
        section .body .body_right .body_r_bd .personal_class table {
          border-right: 1px solid #cfe1f9;
          border-bottom: 4px solid #cfe1f9;
          border-collapse: collapse; }
          section .body .body_right .body_r_bd .personal_class table tr td {
            border-top: 1px solid #cfe1f9;
            border-left: 1px solid #cfe1f9;
            font-size: 12px;
            color: #333;
            padding: 6px 5px; }
          section .body .body_right .body_r_bd .personal_class table tr .c_one {
            width: 91px;
            text-align: right; }
          section .body .body_right .body_r_bd .personal_class table tr .c_two {
            width: 711px; }
      section .body .body_right .body_r_bd .personal_small {
        display: none; }
        section .body .body_right .body_r_bd .personal_small table {
          border-right: 1px solid #cfe1f9;
          border-bottom: 4px solid #cfe1f9;
          border-collapse: collapse; }
          section .body .body_right .body_r_bd .personal_small table tr td {
            border-top: 1px solid #cfe1f9;
            border-left: 1px solid #cfe1f9;
            font-size: 12px;
            color: #333;
            padding: 6px 5px;
            color: #185697;
            font-weight: 600;
            height: 22px; }
          section .body .body_right .body_r_bd .personal_small table tr .list1 {
            width: 39px; }
          section .body .body_right .body_r_bd .personal_small table tr .list2 {
            width: 90px; }
          section .body .body_right .body_r_bd .personal_small table tr .list3 {
            width: 141px; }
          section .body .body_right .body_r_bd .personal_small table tr .list4 {
            width: 193px; }
          section .body .body_right .body_r_bd .personal_small table tr .list5 {
            width: 173px; }
          section .body .body_right .body_r_bd .personal_small table tr .list6 {
            width: 122px; }
          section .body .body_right .body_r_bd .personal_small table tr .bg {
            text-align: center;
            background: #f4fbff; }
          section .body .body_right .body_r_bd .personal_small table tr .cont {
            color: red;
            font-weight: 600; }
        section .body .body_right .body_r_bd .personal_small .a_one {
          width: 112px;
          text-align: right; }
        section .body .body_right .body_r_bd .personal_small .a_two {
          width: 690px; }
          section .body .body_right .body_r_bd .personal_small .a_two .mess_tt {
            border-top: 1px #999 solid;
            border-left: 1px #999 solid;
            background: #fff;
            border-bottom: 1px #ddd solid;
            border-right: 1px #ddd solid;
            padding: 2px;
            color: #333;
            line-height: 18px;
            font-size: 12px; }
          section .body .body_right .body_r_bd .personal_small .a_two select {
            height: 24px; }
        section .body .body_right .body_r_bd .personal_small .but {
          width: 50px;
          height: 20px;
          margin-left: 5px; }
        section .body .body_right .body_r_bd .personal_small .butt {
          text-align: center; }
  section .footer {
    width: 980px;
    margin: 0 auto;
    border-top: 1px solid #ddd;
    margin-top: 60px;
    line-height: 26px;
    padding: 10px;
    font-size: 12px;
    color: #333;
    text-align: center; }
